@import url("https://use.typekit.net/wzt0bea.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Helvetica-Now-Display';
    src: url("assets/fonts/HelveticaNowDisplay.otf") format("opentype");
}


:root{
    --type-italic: "ivypresto-display", serif;
    --italic-style: italic;
    --type-body: "Helvetica-Now-Display", "Inter", sans-serif;
    --type-body-02: "acumin-pro", sans-serif;
    --body-style: normal;

    --type-thin-weight: 100;
    --type-light-weight: 300;
    --type-regular-weight: 400;
    --type-medium-weight: 500;
    --type-semibold-weight: 600;

    --white: #FAF9F6;
    --black: #1B1212;
    --red: #EB521A;
    --pink: #FFAAF2;
    --green: #B3AB2C;
    --green-olive: #5D4F11;
    --yellow: #FADA26;
    --yellow-buttermilk: #EDDB75;
    --blue: #77A2E9;
    --blue-light: #CDEEFF;
}




/* acumin-pro */