body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    overflow-x: hidden;
}

/* ------------------------------- CV-MARGIN */

#cv-margin {
    position: fixed;  /* Fixes the element to the viewport */
    top: 0;
    left: 0;
    width: 30vw;      /* Sidebar width */
    height: 100vh;    /* Full viewport height */
    overflow-y: auto; /* (Optional) Enable vertical scroll in the sidebar if content overflows */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

#cv-margin a{
    height: auto;
}
#cv-margin #back{
    margin: 2rem;
    width: 120px;
    height: 120px;
    background-color: var(--black);
}

/* ------------------------------- CV-MAIN */
#cv-main {
    margin-left: 30vw; /* Leave space for the fixed sidebar */
    margin-bottom: 4rem;
    padding-right:2vw;
    width: 68vw;       /* Adjust as needed */
    height: 100%;     /* If you want it to take full viewport height */
    overflow-y: auto;  /* Enable vertical scrolling for main content */
  }

#cv-main .contact{
    margin: 4rem 0;
}

#experiences{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#education, #projects-exp, #other-exp, #skills {
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid var(--black);
}

#education .vis:hover{
    background-color: var(--blue);
}

#projects-exp .vis:hover{
    background-color: var(--pink);
}

#other-exp .vis:hover{
    background-color: var(--green);
}

#skills .vis:hover{
    background-color: var(--yellow-buttermilk);
}

.vis{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hid {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: 0.3s ease;
}
.hid.show {
    visibility: visible;
    height: auto;
    margin-bottom: 20px;
    
}

.hid .unit{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    width: 100%;
}

.hid .unit .det, #skills .hid .det{
    width: 20%;
    margin: 0.5% 5% 0 0;
}

.hid .unit .desc, #skills .hid .desc{
    width: 80%;

}

.tagline{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.tagline li.tag{
    list-style: none;
    margin: 1% 1% 0 0;
    padding: 0.1rem 0.5rem;
    border: 1px solid var(--black);
    border-radius: 5px;
}

#skills .hid{
    display: flex;
    flex-direction: row;
    width: 100%;
}


#skills .hid .det .btn-cat{
    margin: 0;
    padding: 0;
}

#skills .hid .det .btn-cat button{
    width: fit-content;
    list-style: none;
    margin: 1% 1% 5% 0;
    padding: 0.3rem 0.5rem;
    border: 1px solid var(--black);
    border-radius: 5px;

    background-color: transparent;
    color: var(--black);
    transition: background 0.2s, color 0.2s;
}

#skills .hid .det .btn-cat button.active {
    background-color: var(--black);
    color: var(--white);
}

@media screen and (min-width: 930px) {
    #skills .hid .det .btn-cat button:hover{
        cursor: pointer;
        background-color: var(--yellow-buttermilk);
        border-color: var(--yellow-buttermilk);
        color: var(--black);
    }
}

@media screen and (max-width:670px) {
    #skills .hid .det .btn-cat button.shake {
        animation: shake 1.5s;
    }
}

@keyframes shake {
    0%   { transform: translate(0, 0); }
    10%  { transform: translate(-0.1px, -0.1px); }
    20%  { transform: translate(0.2px, 0.2px); }
    30%  { transform: translate(-0.5px,0.5px); }
    40%  { transform: translate(1px, -1px); }
    50%  { transform: translate(-1px, 1px); }
    60%  { transform: translate(1px, -1px); }
    70%  { transform: translate(-1px, -1px); }
    80%  { transform: translate(1px, 1px); }
    90%  { transform: translate(-1px, 1px); }
    100% { transform: translate(0, 0); }
}


#skills .hid .desc{
    height: max-content;
}
#skills .hid .desc .btns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

#skills .hid .desc .btns li{
    width: auto;
    list-style: none;
    margin: 1% 1% 0 0;
    padding: 0.1rem 0.5rem;
    border: 1px solid var(--black);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
}

#cv-main ul.bullets li{
    list-style: square;
}

/* ------------------------------- MOBILE VIEW */

@media screen and (max-width:930px){
    body{
        flex-direction: column;
        margin-bottom: 0;
    }

    #cv-margin{
        flex-direction: row;
        height: 25vh;
        width: 100vw;
    }

    #cv-main{
        margin-top: 25vh;
        margin-left: 2rem;
        margin-bottom: 0;
        width: 95vw;
        height: auto;
    }

    
}

@media screen and (max-width:670px){
    body{
        flex-direction: column;
        margin-bottom: 0;
    }

    #cv-margin{
        flex-direction: row;
        height: 25vh;
        width: 100vw;
    }

    #cv-main{
        margin-top: 25vh;
        margin-left: 2rem;
        margin-bottom: 0;
        width: 95vw;
        height: auto;
    }

    #experiences{
        flex-direction: column;
        width: 100%;
    }

    .hid .unit{
        flex-direction: column;
    }

    .hid .unit .det, .hid .unit .desc{
        width: 100%;
    }


}

@media screen and (max-width:600px) {
    #cv-margin{
        height: 180px;
    }

    #cv-main{
        margin-top: 190px;
    }

    #cv-main .contact{
        margin: 0 0 2rem 0;
    }

    #skills .hid{
        flex-direction: column;
    }

    #skills .hid .det, #skills .hid .desc{
        width: 100%;
    }

    #skills .hid .det .btn-cat{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #skills .hid .desc .btns{
        justify-content: flex-start;
    }
    
}