body{
    margin: 0;
    background-color: var(--white);
    overflow-x: hidden;
    /* Remove cursor: none; */
}

nav, #cover, #work-archive, #references, footer{
    padding-left: 2vw;
}

#work-archive, #cv{
    margin-top: 20vh;
}

/* ---------------------------------------------loading pagelayout */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
  }


/* --------------------------------------------Custom cursor styling */
.custom-cursor {
    position: absolute;
    pointer-events: none; /* Ensure the custom cursor does not interfere with other elements */
    display: none; /* Initially hidden */
    /* Add cursor: none; to hide the default cursor when the custom cursor is shown */
    cursor: none;
    font-family: var(--type-body); /* Use the var(--type-body) font for the custom cursor */
}

/* Ensure the custom cursor is visible when needed */
.custom-cursor.show {
    display: block;
}

/* ---------------------------------------------nav bar layout */
nav {
    width: 96vw;
    padding-right: 2vw;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    z-index: 10;
}

ul {
    padding: 0 5px; /* Add this line to remove default padding */
    display: flex;
    align-items: center;
    position: relative;
}

ul.right {
    margin-left: auto; /* Push the element to the right */
}

ul.right li {
    margin-left: 10vw;
}

li {
    list-style: none;
}

li.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

li.right {
    margin-left: auto; /* Push the element to the right */
}

.square {
    width: 25px;
    height: 25px;
    background-color: var(--black);
}

.square-mobile {
    display: none;
    width: 25px;
    height: 25px;
    background-color: var(--black);
}

@media screen and (max-width: 600px) {
    ul{
        padding: 0 5px; /* Add this line to remove default padding */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    li{
        list-style: none;
        padding-bottom: 2px;
    }

    li.left{
        align-self: baseline;
        position: absolute;
    }

    .square {
        display: none;
    }

    .square-mobile {
        display: block;
        width: 60px;
        height: 60px;
        top: 0;
        left: 0;
    }
    
}


/* ---------------------------------------------cover section layout */
#cover{
    width:100%;
    min-height: 99vh; /* Ensure the cover section has a minimum height of 100vh */
    position: relative; /* Ensure h1 is positioned */
    top: 15vh;
    z-index: 2; /* Ensure h1 is below the image */
}

#intro-bio{
    position: relative;
    width: 86vw;
    z-index: 5;
}

#cover .frame{
    position: absolute; /* Position the image absolutely within #cover */
    bottom: 30vh;
    left: 50vw;
    width: 40%;
    height: 50%;
    cursor: none; /* Remove the default cursor when hovering over the target */
}

img{
    width: 100%; /* Ensure the image fills the width */
    height: 100%; /* Ensure the image fills the height */
    object-fit: cover; /* Crop the image to fit the container */
    z-index: 1; /* Ensure the image is above the h1 */
}

.cursor {
    color: var(--pink);
    display: inline-block;
    margin-left: 5px;
    animation: blink 0.7s steps(1, start) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@media screen and (max-width:600px){
    #cover{
        width: 96vw;
        min-height: 120vh;
        top: 0;
    }

    #cover .frame{
        position: absolute; /* Position the image absolutely within #cover */
        top: 150px;
        left: 2vw;
        width: 96vw;
        height: 300px;
        z-index: 3; /* Ensure the frame is above the intro-bio */
    }

    #intro-bio {
        width: 96vw;
        position: absolute;
        z-index: 2; /* Ensure the intro-bio is below the frame */
        top: 450px;
        left: 2vw;
    }


    img{
        width: 96vw; /* Ensure the image fills the width */
        height: 100%; /* Ensure the image fills the height */
        object-fit: cover; /* Crop the image to fit the container */
        z-index: 1; /* Ensure the image is above the h1 */
    }
    
}

/* ---------------------------------------------work archive section layout */
#work-archive{
    width:96vw;
    height: auto;
    overflow: hidden; /* Ensure the section does not overflow */
    /* margin: 2% 50% 0 0; */
}

#work-archive h2, #cv h2{
    margin: 0 5% 0 0;
}

#work-archive p{
    margin: 1% 0 1% 0;
}

/* table layout */
#archive-table {
    width: 96vw;
    border-collapse: collapse;
    margin-top: 5%;
}

#archive-table tr{
    border-bottom: 0.5px solid var(--black);
}

#archive-table th, #archive-table td {
    padding: 10px;
    text-align: left;
    align-content: baseline;
}

th#proj-date{
    width: 10%;
}

th#proj-title{
    width: 30%;
}

th#proj-desc{
    width: 25%;
}

th#proj-tags{
    width: 20%;
    /* margin-left: 5%; */
}

/* click to see more projects section */
#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pagination button {
    margin: 0 5px;
    background-color: #f0f0f000;
    color: var(--black);
    border: none;
    cursor: pointer;
}

#pagination button:disabled {
    background-color: #f0f0f000;
    color: #f0f0f000;
    cursor: not-allowed;
}

@media screen and (max-width:600px){
    #work-archive{
        width: 96vw;
        height: auto;
        overflow: hidden; /* Ensure the section does not overflow */
        margin: 0;
    }

    #archive-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 5%;
    }

    #archive-table th, #archive-table td {
        padding: 10px;
        text-align: left;
        align-content: baseline;
    }

    th#proj-date{
        width: 10%;
    }

    th#proj-title{
        width: 30%;
    }

    th#proj-desc{
        width: 25%;
    }

    th#proj-tags{
        width: 20%;
        /* margin-left: 5%; */
    }

    /* click to see more projects section */
    #pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    #pagination button {
        margin: 0 5px;
        background-color: #f0f0f000;
        color: var(--black);
        border: none;
        cursor: pointer;
    }

    #pagination button:disabled {
        background-color: #f0f0f000;
        color: #f0f0f000;
        cursor: not-allowed;
    }

}

/* ---------------------------------------------cv-milestones section layout */
#cv{
    width:100vw;
    height: auto;
}

.intro{
    width: 96%;
    padding-left: 2vw;
}

#timeline{
    max-height: 75vh;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 0.3s ease;
}

.milestone{
    display: flex;
    flex-direction: column;
    width: 23vw;
    padding: 0 1% 0 1%;
    height: 75vh;
    transition: all 0.3s ease;
    cursor: none; /* Remove the default cursor when hovering over the target */
}

.milestone:hover{
    transform:translateY(-5%);
}

/* Add different background colors for each milestone */
.milestone:nth-child(1) {
    background-color: var(--yellow-buttermilk);
}

.milestone:nth-child(2) {
    background-color: var(--red);
}

.milestone:nth-child(3) {
    background-color: var(--green);
}

.milestone:nth-child(4) {
    background-color: var(--blue);
}

.milestone .frame{
    width: 100%;
    height: 55%; /* Set a fixed height for the frame */
    overflow: hidden; /* Ensure the image is cropped to fit the container */
    padding: 9% 0 1% 4%;
}

.milestone .frame img{
    width: 90%;
    height: 100%;
    object-fit: cover; /* Crop the image to fit the container */
}

p.caption, h3{
    width: 90%;
    padding-left: 4%;
}

p.caption{
    line-height: 1.3em;
}

p.caption +p{
    padding-bottom: 0;
}

.annotation{
    display: none; /* Hide by default */
}

.annotation p{
    padding: 0 0 0 2%;
}



/* tablet POV */
@media screen and (max-width: 1000px) and (min-width: 600px){
    .milestone{
        width: 50vw;
        height: 50vh;
        padding: 0;
        cursor: default !important;
    }

    .milestone .frame{
        padding: 5% 0 0 5%;
    }
}

/* mobile POV */
@media  screen and (max-width: 600px){
    #cv{
        height: auto;
        display: flex;
        flex-direction: column;
        cursor: pointer; /* Ensure the cursor is visible when hovering over .milestone */

    }

    #timeline{
        margin: 0;
        max-height: 90vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        overflow-x: scroll;
        scroll-snap-type: x mandatory; /* Enable snap scrolling */
        -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
        transition: all 0.3s ease;
        scrollbar-width: none; /* Hide scrollbar in Firefox */
    }

    #timeline::-webkit-scrollbar {
        display: none; /* Hide scrollbar in WebKit browsers */
    }

    .milestone{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        transition: all 0.3s ease;
        scroll-snap-align: start; /* Snap each milestone to the start */
        cursor: pointer; /* Ensure the cursor is visible when hovering over .milestone */
    }

    .milestone:hover{
        transform:translateY(0%);
    }

    .milestone .frame{
        height: 55vh;
        overflow: hidden; /* Ensure the image is cropped to fit the container */
    }

    .caption{
        padding:0;
    }

    .annotation{
        width: 96%;
        display: flex; /* Show on mobile */
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        font-size: 1.2em;
        line-height: 1%;
        font-weight: 900; 
    }

    
}


/* ---------------------------------------------references section layout */
#references{
    height: auto;
    margin: 25vh 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

#recommendations{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quote{
    margin-right: 2vw;
    width: 45vw;
}

/* ---------------------------------------------footer layout */
footer{
    width:96vw;
    display: flex;
    flex-direction: column;
}

footer h1{
    width: 96vw;
    font-size: 10em;
    margin: 0;
}

footer ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    position: relative;
}

footer li{
    font-size: 2em;
    position: relative;
}

