p, h1, h2{
    font-family: var(--type-body);
}

h1{
    font-weight: var(--type-light-weight);
    font-size: 5em;
    line-height: 1.1em;
}

p, h2, #services li{
    font-size: 2em;
    line-height: 1.1em;
}

h2{
    font-weight: var(--type-semibold-weight);
}

em{
    font-family: var(--type-italic);
    font-weight: var(--type-thin-weight);
}

small{
    font-size: 0.4em;
    font-style: uppercase;
    font-weight: var(--type-thin-weight);
    text-transform: uppercase; /* Add this line to make text uppercase */
}

a{
    text-decoration: none; /* Add this line to remove underline */
    color: var(--black);
}

a:visited{
    color: var(--black);
    text-decoration: underline;
}

li a:hover{
    text-decoration: underline;
    color: var(--black);
}

#services li{
    font-weight: var(--type-thin-weight);
    font-size: 2em;
}
