@import url("https://use.typekit.net/wzt0bea.css");

body{
    cursor: default;
}

.custom-cursor {
    position: fixed;
    pointer-events: none; /* Prevent interference with interactions */
    font-size: 16px;
    font-weight: bold;
    color: var(--black);
    z-index: 1000;
    transform: translate(-50%, -50%);
    display: none; /* Initially hidden */
}

nav,p, h1, h2, h3, button, q, table, #pagination, #scroll-container, footer ul li,{
    font-family: var(--type-body);
}

#call-me h1{
    font-family: var(--type-italic);
}

h1{
    font-weight: var(--type-light-weight);
    font-size: 5em;
    line-height: 1.1em;
}

p, h2, #services li{
    font-size: 2em;
    line-height: 1.3em;
}

h2{
    font-weight: var(--type-semibold-weight);
}

h3{
    margin-bottom: 1em;
    line-height: 0.1em;
    font-size: 1em;
}

table{
    line-height: 1.3em;
}

em{
    font-family: var(--type-italic);
    font-weight: var(--type-thin-weight);
}

.caption{
    font-weight: var(--type-thin-weight);
    font-size: 1em;
}

a{
    text-decoration: none; /* Add this line to remove underline */
    color: var(--black);
}

a:visited{
    color: var(--black);
    text-decoration: underline;
}

li a:hover{
    text-decoration: underline;
    color: var(--black);
}

#services li{
    font-weight: var(--type-thin-weight);
    font-size: 2em;
}

button {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--black);
    font-size: 1em;
    line-height: 1.2em;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Hover state */
button:hover, #all-work.active, #favourite.active {
    color: var(--white);
    background-color: var(--black);
}


/* Specific filter colors */
#UX:hover, #UX.active {
    background-color: var(--red);
    border-color: var(--red);
    color: var(--black);
}

#UI:hover, #UI.active {
    background-color: var(--pink);
    border-color: var(--pink);
    color: var(--black);
}

#service-design:hover, #service-design.active {
    background-color: var(--green);
    border-color: var(--green);
    color: var(--black);
}

#creative-coding:hover, #creative-coding.active {
    background-color: var(--blue-light);
    border-color: var(--blue-light);
    color: var(--black);
}

#branding:hover, #branding.active {
    background-color: var(--yellow-buttermilk);
    border-color: var(--yellow-buttermilk);
    color: var(--black);
}

q{
    font-size: 2em;
}

b{
    font-weight: 900;
    text-decoration: underline;
    /* color: var(--green); */
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 2.5em;
    }

    h2, #services li, p, q{
        font-size: 1.5em;
        line-height: 1.3em;
    }

    h2{
        padding-left: 1.5em;
    }
    
    
    h3{
        margin-bottom: 1em;
        line-height: 0.1em;
        font-size: 1.1em;
    }

    p{
        padding: 1.5em;
    }

    ul{
        padding: 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    li{
        list-style: none;
        padding-bottom: 2px;
    }

    .square {
        width: 70px;
        height: 70px;
        position: absolute;
        top: 0;
        left: 0;
        margin: 15px;
    }

    button{
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid var(--black);
        font-size: 1em;
        line-height: 1.2em;
        margin: 7px 7px 0 0;
    }
    
    button:hover, button:focus{
        color: var(--white);
        background-color: var(--black);
    }
    
}