#container-project{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}


#return-to-home{
    width: 25px;
    height: 25px;
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 2;
}
/* ----------------------- Context */
#project-context{
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2%;
    z-index: 10;
}

#project-context h3, #project-context p.caption{
    padding-left: 0;
}

#project-context .list{
    display: flex;
    flex-direction: row;
}

.timeline-label {
    display: inline-block;
    width: 85px;
}

#project-context .list h3{
    width: 80px;
}

#project-context #remarks h3{
    width: auto;
    margin: 10% 0 1% 0;
}

#project-context #remarks ul{
    margin-top:4%;
    padding: 0;
}

#project-context #remarks li{
    margin-bottom: 1%;
}


#project-context .list ul{
    display: inline-block;
    margin-top: 5px;
}

/* ----------------------- proj nav */
#proj-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -3% 5% -3%;
}


/* ----------------------- Project Content */
#project-content{
    width: 70vw;
    height: 100%;
    padding: 0 5%;;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--white);
}

#hero-frame{
    width: 73.4vw;
    height: 70%;
    padding: 0;
    margin: 0 -9%;
}

#hero-frame img{
    width: 100%; /* Ensure the image fills the width */
    height: 100%; /* Ensure the image fills the height */
    object-fit: cover; /* Crop the image to fit the container */
}

.para{
    margin: 4% 0 10% 0;
}

#project-content h1{
    margin: 0 0 1% 0;
    padding-left: 0;
}

#project-content h3{
    margin: 5% 0 0 0;
    padding-left: 0;
}

#project-content p{
    margin: 0;
}

#project-content ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1% 0;
    padding-inline-start: 40px;
}

#project-content li{
    padding-bottom: 0;
    list-style: square;
}

div.same-content ul{
    margin: 0;
}

.multi-carousel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 160px;
    margin-top: 2%;
}

.multi-carousel img{
    width: 25%;
    height:100%;
    padding: 0 5px;
}

.multi-carousel img:hover{
    cursor: zoom-in;
    scale: 1.1;
    z-index: 10;
    transition: all 0.1s ease-in-out;
}


/* ---------------- image lightbox styling */
/* Ensure #project-content is relatively positioned */
#project-content {
    position: relative;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed; /* fixed so it covers the viewport */
    z-index: 2;
    margin-left: 26vw;
    left: 0;
    top: 0;
    width: 75vw;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    /* width: 90%; */
    /* height: 50%; */
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: var(--black);
    width: 25px;
    height: auto;
    position: fixed;
    top: 5px;
    right: 31px;
    z-index: 5;
    font-family: var(--type-body);
    font-size: 2em;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: var(--red);
    text-decoration: none;
  }
  
  /* The slide images */
  .mySlides {
    display: inline-block;
    /* width: 100%; */
    height: 100%;
  }

  .slides-container{
    margin: 0;
    padding: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  /* Next & previous buttons */
  .prevNext-slide{
    cursor: pointer;
    position: absolute;
    top: 80%;
    padding: 16px;
    color: var(--red);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
    z-index: 10;
  }
  
  #prev-slide {
    left: 31px;
  }
  
  #next-slide {
    right: 31px;
  }
  
  /* Thumbnails */
  .column {
    float: left;
    width: 25%;
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }