body{
    font-family: var(--type-body);
}

#project-context h2, #proj-nav{
    font-size: 2em;
}

#project-context p{
    font-size: 1em;
}

#project-content h1{
    font-size: 2em;
}

#project-content h2{
    font-size: 1.7em;
}

#project-content h3, #project-content p{
    font-size: 1.5em;
    line-height: 1.4em;
}

div.same-topic ul li{
    font-size: 1.5em;
}

#project-content .small{
    font-size: 1.3em;
    width: 100%;
    margin-right: 2%;
}

#project-content h1 p em{
    font-size: 20px; /* Match the normal <p> font size (1em)*/
    margin: 1% 0 7% 0;
    line-height: 18px; /* Match the normal <p> line height (1.3em) */
}



div.row p{
    width: 80%;
}


/* -------------------- for mobile */
@media screen and (max-width:650px) {
    #project-context h2, #proj-nav{
        font-size: 2em;
    }
    
    #project-context p{
        font-size: 1em;
    }
    
    #project-content h1{
        font-size: 2em;
    }
    
    #project-content h2{
        font-size: 1.6em;
    }
    
    #project-content h3, #project-content p{
        font-size: 1.2em;
        line-height: 1.3em;
    }
    
    div.same-topic ul li{
        font-size: 1.2em;
    }
}
