body{
    margin: 0;
    background-color: var(--white);
    overflow-x: hidden;
}

nav, #cover, #work-archive, .scroll-container h2, footer{
    padding-left: 2vw;
}

#work-archive, #cv{
    margin-top: 20vh;
}

/* ---------------------------------------------work archive section layout */
#work-archive{
    width:96vw;
    height: max-content;
    overflow: hidden; /* Ensure the section does not overflow */
    /* margin: 2% 50% 0 0; */
}

#work-archive h2, #cv h2{
    margin: 0 5% 0 0;
}

#work-archive p{
    margin: 1% 0 1% 0;
}

/* table layout */
#archive-table {
    width: 96vw;
    height: 50vh;
    border-collapse: collapse;
    margin-top: 5%;
}

#archive-table tr{
    min-height: fit-content;
    border-bottom: 0.5px solid var(--black);
}

#archive-table th, #archive-table td {
    padding: 10px;
    text-align: left;
    align-content: baseline;
}

th#proj-date{
    width: 10%;
}

th#proj-title{
    width: 30%;
}

th#proj-desc{
    width: 25%;
}

th#proj-tags{
    width: 20%;
    /* margin-left: 5%; */
}




/* Add styles to display the hero-img on hover */
.proj-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.hero-img {
    visibility: hidden;
    display: block;
    position: relative;
    width: 40%;
    height: auto;
    margin-right: 10%;
    z-index: 10;
}

#archive-table tr:hover .hero-img {
    visibility: visible;
}

/* click to see more projects section */
#pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 2em;
}

#pagination button {
    margin: 0 5px;
    background-color: #f0f0f000;
    color: var(--black);
    border: none;
    cursor: pointer;
}

#pagination button:disabled {
    background-color: #f0f0f000;
    color: #f0f0f000;
    cursor: not-allowed;
}

#page-numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

#pagination .page-number.active {
    text-decoration: underline;
}

#pagination .page-number:hover{
    cursor: pointer;
}

@media screen and (max-width:600px){
    #work-archive{
        width: 96vw;
        height: auto;
        overflow: hidden; /* Ensure the section does not overflow */
        margin: 0;
    }

    #archive-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 5%;
    }

    #archive-table th, #archive-table td {
        padding: 10px;
        text-align: left;
        align-content: baseline;
    }

    th#proj-date{
        width: 10%;
    }

    th#proj-title{
        width: 30%;
    }

    th#proj-desc{
        width: 25%;
    }

    th#proj-tags{
        width: 20%;
        /* margin-left: 5%; */
    }

    /* click to see more projects section */
    #pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    #pagination button {
        margin: 0 5px;
        background-color: #f0f0f000;
        color: var(--black);
        border: none;
        cursor: pointer;
    }

    #pagination button:disabled {
        background-color: #f0f0f000;
        color: #f0f0f000;
        cursor: not-allowed;
    }

}